.form-control-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .ng-select {
    width: 100%;
  }

  + .text-danger {
    font-size: small;
    font-weight: 400;
  }

  &--error,
  &.-highlighted {
    .form-control {
      border-color: $danger !important;
    }

    .form-control-wrapper__excl-mark {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }

    .ng-select {
      .ng-select-container,
      .ng-dropdown-panel,
      .form-control {
        border-color: $danger !important;
      }

      + .form-control-wrapper__excl-mark {
        //right: 1.5rem;
      }
    }
  }

  .form-control {
    position: relative;
    transition: border-color 0.2s linear;
    box-shadow: none;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
  }

  .ng-select-container {
    transition: border-color 0.2s linear;
  }

  &__excl-mark {
    display: inline-block;
    position: absolute;
    right: 0.75rem;
    //z-index: 2;
    width: 1rem;
    height: 1rem;
    transition: opacity 0.2s linear;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    text-align: center;
    background-color: $white;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
  }

  &__error {
    position: absolute;
    top: -7px;
    right: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: $danger;
    background-color: $white;
    border: 1px solid $light;
    transform: translateY(-100%);
    box-shadow: 0 -3px 26px 0 transparentize($black, 0.88);

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 10px;
      bottom: -5px;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-bottom: 1px solid $light;
      border-left: 1px solid $light;
      transform: rotate(-45deg);
    }
  }
}
