<app-header></app-header> 
<app-sidebar></app-sidebar> 

<div class="content-page position-relative"> 
  <!-- Start content --> 
  <div class="content"> 
    <div class="container-fluid"> 
      <router-outlet></router-outlet> 
    </div> 
    <!-- end container --> 
  </div> 
  <!-- end content --> 

  <footer class="footer"> 
    <div class="d-flex justify-content-between"> 
      <div class="text-muted">Building Care Corporation <strong>&copy; 2020</strong></div> 
      <a routerLink=".">Terms and Conditions</a> 
    </div> 
  </footer> 
</div> 